# roject exclude paths
!.mvn/wrapper/maven-wrapper.jar
*.iws
*.iml
*.ipr

### personal config ###
*.log
*.bak
.thumbnails.bundle/
data/db/h2
data/temp
.idea
target/
upload/
log/
logs/
readme/personal/




*.DS_Store



*.mp3
*.mp4
*.flac
*.wav

